In [1]:
#Assignment Ques(1)

# Importing Libraries & # Importing selenium webdriver 
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
# Activating the chrome browser
driver= webdriver.Chrome(r"C:\Users\shobh\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
time.sleep(4)
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(6)

In [4]:
element=driver.find_elements_by_xpath('/html/body/div[@id="content"]/div[@id="bodyContent"]/div[@id="mw-content-text"]/div[@class="mw-parser-output"]//table[@class="wikitable sortable jquery-tablesorter"]')[0].find_elements_by_xpath("tbody")[0].find_elements_by_xpath("tr")
# creating empty list
rank=[]
name=[]
uploader=[]
views=[]
upload_date=[]
n=0
for i in element:
    rank.append(i.find_elements_by_xpath("td")[0].text)
    name.append(i.find_elements_by_xpath("td")[1].text)
    uploader.append(i.find_elements_by_xpath("td")[2].text)
    views.append(i.find_elements_by_xpath("td")[3].text)
    upload_date.append(i.find_elements_by_xpath("td")[4].text)

In [5]:
# creating data frame
df =pd.DataFrame({'Rank':rank,'Name':name,'Artist':uploader,'Upload_Date':upload_date,'Views':views})
df

,Rank,Name,Artist,Upload_Date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.82
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.41
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.48
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.36
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.15
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.44
6,7.,"""Uptown Funk""[31]",Mark Ronson,"November 19, 2014",4.21
7,8.,"""Bath Song""[32]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.18
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[33]",Miroshka TV,"February 27, 2018",4.17
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.10
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.94
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.49
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.44
13,14.,"""Dame Tu Cosita""[39]",El Chombo,"April 5, 2018",3.40
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.37
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.32
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.27
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.09
18,19.,"""Dark Horse""[44]",Katy Perry,"February 20, 2014",3.09
19,20.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.08
20,21.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.07
21,22.,"""Lean On""[47]",Major Lazer,"March 22, 2015",3.05
22,23.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.05
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.05
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.01
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.93
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.87
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.85
28,29.,"""Hello""[54]",Adele,"October 22, 2015",2.85
29,30.,"""Axel F""[55]",Crazy Frog,"June 16, 2009",2.84

In [7]:
#Assignment Ques(2)

# Activating the chrome browser
driver= webdriver.Chrome(r"C:\Users\shobh\Downloads\chromedriver_win32\chromedriver.exe")

In [8]:
url = "https://www.bcci.tv/"
driver.get(url)
driver.implicitly_wait(20)

In [9]:
International=driver.find_elements_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]')
International[0].click()
International_fixture=driver.find_elements_by_xpath('//a[@href="/international/fixtures" and @class="navigation__link navigation__link--in-drop-down"]')
International_fixture[0].click()
schedule_odi=driver.find_elements_by_xpath('//a[@class="js-match event-list__item event-list-item fixture  t-odi fixture--long event-list-item--long"]')
schedule_odi_list = list(map(lambda x:[x.text.split('\n')[6],x.text.split('\n')[5],x.text.split('\n')[7]+' '+x.text.split('\n')[8],x.text.split('\n')[1]+' '+x.text.split('\n')[2],x.text.split('\n')[3]],schedule_odi))
schedule_t20i=driver.find_elements_by_xpath('//a[@class="js-match event-list__item event-list-item fixture  t-t20i fixture--long event-list-item--long"]')
schedule_t20i_list = list(map(lambda x:[x.text.split('\n')[6],x.text.split('\n')[5],x.text.split('\n')[7]+' '+x.text.split('\n')[8],x.text.split('\n')[1]+' '+x.text.split('\n')[2],x.text.split('\n')[3]],schedule_t20i))
schedule_test=driver.find_elements_by_xpath('//a[@class="js-match event-list__item event-list-item fixture  t-test fixture--long event-list-item--long"]')
schedule_test_list = list(map(lambda x:[x.text.split('\n')[6],x.text.split('\n')[5],x.text.split('\n')[7]+' '+x.text.split('\n')[8],x.text.split('\n')[1]+' '+x.text.split('\n')[2],x.text.split('\n')[3]],schedule_test))
All_Match = schedule_test_list + schedule_t20i_list + schedule_odi_list
#Creating empty list
Title=[]
Series=[]
Place=[]
Date=[]
Time=[]
for i in All_Match:
    Title.append(i[0])
    Series.append(i[1])
    Place.append(i[2])
    Date.append(i[3])
    Time.append(i[4])

In [10]:
#creating dataframe
df = pd.DataFrame({'Title':Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df

,Title,Series,Place,Date,Time
0,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham ENGLAND",04 AUGUST,15:30 IST
1,2nd Test,ENGLAND V INDIA 2021,"Lord's, London ENGLAND",12 AUGUST,15:30 IST
2,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds ENGLAND",25 AUGUST,15:30 IST
3,4th Test,ENGLAND V INDIA 2021,"The Oval, London ENGLAND",02 SEPTEMBER,15:30 IST
4,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester ENGLAND",10 SEPTEMBER,15:30 IST
5,1st T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo SRI LANKA",21 JULY,19:00 IST
6,2nd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo SRI LANKA",23 JULY,19:00 IST
7,3rd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo SRI LANKA",25 JULY,19:00 IST
8,1st ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo SRI LANKA",13 JULY,14:30 IST
9,2nd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo SRI LANKA",16 JULY,14:30 IST
10,3rd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo SRI LANKA",18 JULY,14:30 IST

In [11]:
#Assignment Ques(6)
url = "https://www.billboard.com/"
driver.get(url)
driver.implicitly_wait(20)

In [12]:
Hot_100 = driver.find_elements_by_xpath('//a[@class="header__subnav__link text--uppercase font--semi-bold"]')[2]
Hot_100.click()
rows = driver.find_elements_by_xpath('//button[@class="chart-element__wrapper display--flex flex--grow sort--this-week"]')
#Creating empty list
Song_Name=[]
Artist_Name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]
for i in rows:
    Song_Name.append(i.find_element_by_xpath('span[@class="chart-element__information"]/span[@class="chart-element__information__song text--truncate color--primary"]').text)
    Artist_Name.append(i.find_element_by_xpath('span[@class="chart-element__information"]/span[@class="chart-element__information__artist text--truncate color--secondary"]').text)
    Last_week_rank.append(i.find_element_by_xpath('div[@class="chart-element__metas chart-element__metas--large display--flex flex--y-center"]/div[@class="chart-element__meta text--center color--secondary text--last"]').text)
    Peak_rank.append(i.find_element_by_xpath('div[@class="chart-element__metas chart-element__metas--large display--flex flex--y-center"]/div[@class="chart-element__meta text--center color--secondary text--peak"]').text)
    Weeks_on_board.append(i.find_element_by_xpath('div[@class="chart-element__metas chart-element__metas--large display--flex flex--y-center"]/div[@class="chart-element__meta text--center color--secondary text--week"]').text)

In [13]:
#creating dataframe
df=pd.DataFrame({'Song_Name':Song_Name,'Artist_Name':Artist_Name,'Last_week_rank':Last_week_rank,'Peak_rank':Peak_rank,'Weeks_on_board':Weeks_on_board})
df

,Song_Name,Artist_Name,Last_week_rank,Peak_rank,Weeks_on_board
0,Butter,BTS,1,1,4
1,Good 4 U,Olivia Rodrigo,2,1,5
2,Levitating,Dua Lipa Featuring DaBaby,3,2,37
3,Kiss Me More,Doja Cat Featuring SZA,7,4,10
4,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,4,1,13
...,...,...,...,...,...
95,Follow You,Imagine Dragons,90,68,11
96,Bloody Canvas,Polo G,-,97,1
97,Miss The Rage,Trippie Redd & Playboi Carti,82,11,6
98,Still Runnin,"Lil Baby, Lil Durk & Meek Mill",43,43,2
99,You,Regard x Troye Sivan x Tate McRae,-,100,1

In [22]:
#Assignment Ques(8)
# Activating the chrome browser
driver= webdriver.Chrome(r"C:\Users\shobh\Downloads\chromedriver_win32\chromedriver.exe")

In [23]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
driver.implicitly_wait(20)

In [24]:
Rows = driver.find_element_by_xpath("//table[@class='in-article sortable']").find_elements_by_xpath("tbody/tr")
#creating empty list
name=[]
author=[]
vol=[]
publisher=[]
genre=[]

for i in Rows:
    j = i.find_elements_by_xpath("td")
    name.append(j[1].text)
    author.append(j[2].text)
    vol.append(j[3].text)
    publisher.append(j[4].text)
    genre.append(j[5].text)

In [25]:
#creating data frame
df = pd.DataFrame({'Name':name,'AuthorName':author,'VolumeSold':vol,'Publisher':publisher,'Genre':genre})
df

,Name,AuthorName,VolumeSold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [33]:
#AssignmentQues(9)
# Activating the chrome browser
driver= webdriver.Chrome(r"C:\Users\shobh\Downloads\chromedriver_win32\chromedriver.exe")

In [34]:
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
driver.implicitly_wait(20)

In [35]:
Rows = driver.find_elements_by_xpath('//div[@class="lister list detail sub-list"]//div[@class="lister-list"]//div[@class="lister-item mode-detail"]')
# creating empty list
name=[]
span=[]
runtime=[]
genre=[]
rating=[]
votes=[]
for i in Rows:
    try:
        name.append(i.find_element_by_xpath('div[@class="lister-item-content"]//h3[@class="lister-item-header"]//a').text)
    except:
        name.append('')
    try:
        span.append(i.find_element_by_xpath('div[@class="lister-item-content"]//h3[@class="lister-item-header"]//span[@class="lister-item-year text-muted unbold"]').text)
    except:
        span.append('')
    try:
        runtime.append(i.find_element_by_xpath('div[@class="lister-item-content"]//p[@class="text-muted text-small"]//span[@class="runtime"]').text)
    except:
        runtime.append('')
    try:
        genre.append(i.find_element_by_xpath('div[@class="lister-item-content"]//p[@class="text-muted text-small"]//span[@class="genre"]').text)
    except:
        genre.append('')
    try:
        rating.append(i.find_element_by_xpath('div[@class="lister-item-content"]//div[@class="ipl-rating-widget"]//span[@class="ipl-rating-star__rating"]').text)
    except:
        rating.append('')
    try:
        votes.append(i.find_elements_by_xpath('div[@class="lister-item-content"]//p[@class="text-muted text-small"]')[2].find_elements_by_xpath("span")[1].text)
    except:
        votes.append('')

In [36]:
#creating dataframe
df = pd.DataFrame({'Name':name,'Span':span,'Runtime':runtime,'Genre':genre,'Rating':rating,'Votes':votes})
df

,Name,Span,Runtime,Genre,Rating,Votes
0,Game of Thrones,(2011–2019),57 min,"Action, Adventure, Drama",9.3,"1,826,823"
1,Stranger Things,(2016– ),51 min,"Drama, Fantasy, Horror",8.7,"866,586"
2,The Walking Dead,(2010–2022),44 min,"Drama, Horror, Thriller",8.2,"875,815"
3,13 Reasons Why,(2017–2020),60 min,"Drama, Mystery, Thriller",7.6,"263,138"
4,The 100,(2014–2020),43 min,"Drama, Mystery, Sci-Fi",7.6,"224,582"
...,...,...,...,...,...,...
95,Reign,(2013–2017),42 min,"Drama, Fantasy",7.5,"44,632"
96,A Series of Unfortunate Events,(2017–2019),50 min,"Adventure, Comedy, Drama",7.8,"55,171"
97,Criminal Minds,(2005–2020),42 min,"Crime, Drama, Mystery",8,"168,335"
98,Scream: The TV Series,(2015–2019),45 min,"Comedy, Crime, Drama",7.1,"34,949"
99,The Haunting of Hill House,(2018),572 min,"Drama, Horror, Mystery",8.6,"192,052"

In [61]:
#Assignment Ques(3)
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd
import os
import datetime
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium import webdriver

In [62]:
# Activating the chrome browser
driver= webdriver.Chrome(r"C:\Users\shobh\Downloads\chromedriver_win32\chromedriver.exe")

In [63]:
url = "https://www.guru99.com/"
driver.get(url)
driver.implicitly_wait(20)

In [65]:
Testing = driver.find_elements_by_xpath('//span[@class="g-menu-item-title"]')[1]
hover = ActionChains(driver).move_to_element(Testing)
hover.perform()

In [66]:
Selenium = driver.find_elements_by_xpath('//span[@class="g-menu-item-title"]')[19]
Selenium.click()

In [67]:
Exception =  driver.find_element_by_xpath('//a[@href="/exception-handling-selenium.html"]').click()
exception_name = map(lambda x:[x.find_elements_by_xpath('td')[0].text,x.find_elements_by_xpath('td')[1].text],driver.find_elements_by_xpath('//table[@class="table table-striped"]//tbody//tr'))

In [ ]:
name=[]
description=[]
name = list(map(lambda x:x[0],exception_name[1:]))
description = list(map(lambda x:x[1],exception_name[1:]))

df = pd.DataFrame({'Name':name,'description':,description})

In [71]:
#Assignment Ques(4)
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd
import os
import datetime
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium import webdriver

In [72]:
# Activating the chrome browser
driver= webdriver.Chrome(r"C:\Users\shobh\Downloads\chromedriver_win32\chromedriver.exe")

In [73]:
time.sleep(4)
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(6)

In [74]:
Economy = driver.find_elements_by_xpath('//div[@class="dropdown"]')[1]
hover = ActionChains(driver).move_to_element(Economy)
hover.perform()

In [78]:
GDP = driver.find_element_by_xpath("//a[@href='india/indian-states-gdp.php']")
GDP.click()

In [79]:
Table = driver.find_element_by_xpath("//table[@id='table_id' and @class='display dataTable']//tbody//tr")
Table = list(map(lambda x:[x.find_elements_by_xpath('td')[0].text,x.find_elements_by_xpath('td')[1].text,x.find_elements_by_xpath('td')[2].text,x.find_elements_by_xpath('td')[3].text,x.find_elements_by_xpath('td')[4].text,x.find_elements_by_xpath('td')[5].text,x.find_elements_by_xpath('td')[6].text,x.find_elements_by_xpath('td')[7].text],driver.find_elements_by_xpath("//table[@id='table_id' and @class='display dataTable']//tbody//tr")))

In [80]:
rank=[]
state=[]
gsdp_19_20=[]
gsdp_18_19=[]
Share_2018=[]
GDP=[]

for i in Table:
    rank.append(i[0])
    state.append(i[1])
    gsdp_19_20.append(i[3])
    gsdp_18_19.append(i[3])
    Share_2018.append(i[4])
    GDP.append(i[5])

In [81]:
df = pd.DataFrame({'Rank':rank,'StateName':state,'GSDP_19_20':gsdp_19_20,'GSDP_18_19':gsdp_18_19,'Share':Share_2018,'GDP $billion':GDP})
df

   Rank                  StateName GSDP_19_20 GSDP_18_19   Share GDP $billion
0     1                Maharashtra  2,632,792  2,632,792  13.94%      399.921
1     2                 Tamil Nadu  1,630,208  1,630,208   8.63%      247.629
2     3              Uttar Pradesh  1,584,764  1,584,764   8.39%      240.726
3     4                    Gujarat  1,502,899  1,502,899   7.96%      228.290
4     5                  Karnataka  1,493,127  1,493,127   7.91%      226.806
5     6                West Bengal  1,089,898  1,089,898   5.77%      165.556
6     7                  Rajasthan    942,586    942,586   4.99%      143.179
7     8             Andhra Pradesh    862,957    862,957   4.57%      131.083
8     9                  Telangana    861,031    861,031   4.56%      130.791
9    10             Madhya Pradesh    809,592    809,592   4.29%      122.977
10   11                     Kerala    781,653    781,653   4.14%      118.733
11   12                      Delhi    774,870    774,870   4.10%      117.703
12   13                    Haryana    734,163    734,163   3.89%      111.519
13   14                      Bihar    530,363    530,363   2.81%       80.562
14   15                     Punjab    526,376    526,376   2.79%       79.957
15   16                     Odisha    487,805    487,805   2.58%       74.098
16   17                      Assam    315,881    315,881   1.67%       47.982
17   18               Chhattisgarh    304,063    304,063   1.61%       46.187
18   19                  Jharkhand    297,204    297,204   1.57%       45.145
19   20                Uttarakhand    245,895    245,895   1.30%       37.351
20   21            Jammu & Kashmir    155,956    155,956   0.83%       23.690
21   22           Himachal Pradesh    153,845    153,845   0.81%       23.369
22   23                        Goa     73,170     73,170   0.39%       11.115
23   24                    Tripura     49,845     49,845   0.26%        7.571
24   25                 Chandigarh     42,114     42,114   0.22%        6.397
25   26                 Puducherry     34,433     34,433   0.18%        5.230
26   27                  Meghalaya     33,481     33,481   0.18%        5.086
27   28                     Sikkim     28,723     28,723   0.15%        4.363
28   29                    Manipur     27,870     27,870   0.15%        4.233
29   30                   Nagaland     27,283     27,283   0.14%        4.144
30   31          Arunachal Pradesh     24,603     24,603   0.13%        3.737
31   32                    Mizoram     22,287     22,287   0.12%        3.385
32   33  Andaman & Nicobar Islands          -          -       -            -

In [82]:
#Assignment Ques(5)
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd
import os
import datetime
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium import webdriver

In [83]:
# Activating the chrome browser
driver= webdriver.Chrome(r"C:\Users\shobh\Downloads\chromedriver_win32\chromedriver.exe")

In [84]:
time.sleep(4)
url = "https://github.com/"
driver.get(url)
time.sleep(6)

In [85]:
Explore = driver.find_elements_by_xpath('//summary[@class="HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block"]')[1]
hover = ActionChains(driver).move_to_element(Explore)
hover.perform()

In [105]:
rows = driver.find_elements_by_xpath('//article[@class="Box-row"]')
Title=[]
Description=[]
Contributor=[]
Language=[]
for i in rows:
    Title.append(i.find_element_by_xpath('h1').text)
    Language.append(i.find_elements_by_xpath('div/span')[0].text)
    try:
        Contributor.append(len(i.find_elements_by_xpath('div/span')[1].find_elements_by_xpath('a')))
    except:
        Contributor.append(0)
        Language.append(i.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]')[0].text)

In [107]:
df=pd.DataFrame({'Title':Title,'Contributor':Contributor,'Language':Language})

In [108]:
df

,Title,Contributor,Language
0,ThakeeNathees / pocketlang,5,C
1,rocketseat-education / nlw-06-reactjs,1,TypeScript
2,maaslalani / slides,5,Go
3,labuladong / fucking-algorithm,0,Built by
4,OpenXiangShan / XiangShan,5,Scala
5,calendso / calendso,5,TypeScript
6,rocketseat-education / nlw-06-nodejs,1,TypeScript
7,google-research / deeplab2,5,Python
8,microsoft / Web-Dev-For-Beginners,5,JavaScript
9,six-ddc / plow,4,Go
10,OffcierCia / DeFi-Developer-Road-Map,0,Built by
11,facebookresearch / Kats,5,Jupyter Notebook
12,PaddlePaddle / PaddleClas,5,Python
13,dfeneyrou / palanteer,2,C++
14,tuteng / Best-websites-a-programmer-should-vis...,0,Built by
15,rodrigorgtic / gameplay-nlw-together,0,TypeScript
16,thangchung / clean-architecture-dotnet,2,C#
17,30-seconds / 30-seconds-of-code,5,JavaScript
18,KarenOk / whatsapp-web-clone,2,JavaScript
19,ninechapter-algorithm / linghu-algorithm-templete,0,Built by
20,fmeringdal / nettu-meet,3,TypeScript
21,sdmg15 / Best-websites-a-programmer-should-visit,0,Built by
22,toly1994328 / FlutterUnit,2,Dart
23,kris-nova / naml,4,Go
24,solana-labs / solana,5,Rust